!!!
%html.no-js{:lang => "en"}
	%head
		%meta{:content => "text/html; charset=UTF-8; width=device-width; initial-scale=1.0", "http-equiv" => "Content-Type", :name => "viewport"}/
		%title Portofolio
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
		= yield :head
	%body
		.container-fluid
			= yield
